:root {
    --main-color: #E5E5E5;
    --additional-color: #2196F3;
    --type-color: #212121;
    --mini-calor: #757575;
    --phone-color: #2F303A;
    --card-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px (0, 0, 0, 0.14),
        3px 0px 1px rgba(0, 0, 0, 0.12);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--type-color);
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.page-header {
    padding-top: 24px;
    padding-bottom: 25px;

}

/*List*/

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}


/*Container*/

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*Header*/
.logo1 {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
    color: var(--additional-color);
    margin-left: 215px;
    margin-top: 24px;
}

.logo-accent {
    color: var(--type-color);
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*Main-nav*/

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item {
    margin-right: 50px;
    margin-top: 32px;
}

.site-nav .item:last-child {
    margin-right: 0px;
}

.site-nav .link-info {
    color: var(--type-color);
}

.link-studio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--additional-color);
    display: block;
}

.site-nav .link-info:hover {
    color: var(--additional-color);
    background-color: transparent;
}

.link1 {
    font-size: 14px;
    line-height: 1.14;
    line-height: 100%;
    text-align: left;
    letter-spacing: 0.02em;
    color: var(--mini-calor);
    text-decoration: none;
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
}

/*Contacts*/
.contacts {
    display: flex;
    margin-left: 331px;
}

.contacts .points {
    margin-right: 50px;
    margin-top: 32px;
}

.contacts .points:last-child {
    margin-right: 0px;
}

.contacts a:hover {
    color: var(--additional-color);
}

/*Герой*/
.hero {
    text-align: center;
    background-color: var(--phone-color);
    height: 600px;
}

.hero-title {
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
    margin-top: 200px;
    margin-bottom: 30px;
}


.btn {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--additional-color);
    cursor: pointer;
    outline: none;
    border: 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: white;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}

.btn:hover {
    background-color: #188CE8;
}

.topic {
    width: 100%;
    background-color: var(--phone-color);
}

/*Feature-list*/

.feature-list {
    display: flex;
    justify-content: center;

}

.feature-list .marks {
    margin-right: 30px;
    padding-left: 26px;
}

.feature-list .marks:last-child {
    margin-right: 0px;
}

.banner {
    font-size: 14px;
    line-height: 1.11;
    letter-spacing: 0.03em;
    color: var(--type-color);
    text-transform: uppercase;
    margin-bottom: 10px;

}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--mini-calor);
}

.photos {
    display: flex;
    width: 100%;
    justify-content: center;

}

.work-photos {
    margin-right: 30px;
}

.work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--type-color);
    margin-bottom: 92px;
}

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--type-color);
}

/*Card-set*/
.card-set {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    max-width: 100%;
}

.memebers {
    border-radius: 4px solid;
}

.card-set .company {
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--type-color);
    margin-top: 30px;
}

.job {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--mini-calor);
    margin-top: 10px;
}

/*footer*/
footer {
    background-color: var(--phone-color);
    padding: 60px 0 62px 0;
}

.logo1 {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.17;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
    color: var(--additional-color);
}

.logo-mainer {
    color: white;
}

.reference {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.phone-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;

}

.information a:hover {
    color: var(--additional-color);

}